* {
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/horde-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* height: 100vh; */
}
.main-container{
    height: 100vh;
}
.clock{
    left: 50%;
    top: 50%;
    width: auto;
    height: 665px;
    position: relative;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.hand{
    position: absolute;
    width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(1, 1.86, 0.94, 1.09);
}

.hand img{
    width: 100%;
    height: 100%;
}
.second-hand{
    transform-origin: 49.8% 62.9%;
    transform: translateY(-50%, -50%) scale(0.98) rotate(0deg);
}
.minute-hand{
    transform-origin: 49.9% 63.6%;
    transform: translate(-50%, -50%) scale(0.9) rotate(0deg);
}
.hour-hand{
    transform-origin: 49.5% 63.5%;
    transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
}
.screw{
    transform-origin: 46.5% 50.5%;
    transform: translate(-50%, -50%) scale(1.3);
}
